# Environment variables for email sending
EMAIL_USER=your-contact2saranrk@gmail.com
EMAIL_PASS=quhhllrrwesukemm
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
# Optional display name for the sender
# EMAIL_FROM_NAME=Your Name